
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;}
body {
    background-color: #131313;
}
header{
    display: flex;
    width: 100%;
    min-height: auto;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #131313;
    z-index: 1;
}

main {
    margin-top: 25vh;
    background-color: #131313;
    width: 100%;
    box-sizing: border-box;
    
}
.logo {
    margin-left: 20px;
    margin-top: 20px;
}
.buscador {
    margin-top: 40px;
}
.busqueda {
    height: 35px;
    width: 400px;
    font-size: 25px;
    font-family: jura, sans-serif;
    background-color: #383838;
    border-radius: 50px;
    padding: 5px;
    border: none;
    color: #fff;
}
input::placeholder {
    color: #eeeeee;
    font-family: jura, sans-serif;
}
.opciones {
    margin-right: 20px;
    margin-top: 20px;
}
.opciones select {
height: 40px;
width: 40px;
}
.dispositivos {
    background-color: #383838;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.dispositivo {
    text-decoration: none;
    font-size: 30px;
    font-family: jura, sans-serif;
    color: #eeeeee;
}
.novedades {
    height: 50vh;
    background-color: #383838;
    border-radius: 30px;
    margin-right: 7px;
    margin-left:7px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
    padding: 65px;}
.novText a{
    text-decoration: none;
    background-color: #ff007a;
    padding: 10px 20px;
    color: #eeeeee;
    border-radius: 10px;
    font-family: jura, sans-serif;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.novText p{
    color: #eeeeee;
    font-family: jura, sans-serif;
    letter-spacing: 9px;
    font-size: 30px;
    margin: 30px;
}
.novText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.novImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.ofertas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nuevosIngresos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.productosRelacionados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sectionName {
    color: #fff;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 25px;
    font-family: jura, sans-serif;
    
}
.item {
    height: 290px;
    width: 250px;
    background-color:#ffffff ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 50px;
    position: relative;
}

.itemimg {
    position: relative;
    
}
.img {
    width: 210px;
    height: 210px;
    margin-top: 5px;
}
.macbookimg {
    position: relative;
    top: 40px;
    width: 210px;
    height: 127px;
}
.itemNombre {
    color: #131313;
    background-color: #eeeeee;
    height: 40px;
    width: 250px;
    position: relative;
    text-align: center;
    padding-top: 15px;
    font-family: sans-serif;
}
.footer {
    background-color: #000000;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    
}
.footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
}
.lorem {
    height: 20vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}






.publicacion {
    background-color: #fff;
    display: flex;
}
.comprainfo {
    justify-content: space-around;
    align-content: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.precio {

}
.comprar_carrito{

    justify-content: center;
    align-items: center;
    text-align: center;  
}
.comprar {
    padding: 10px;
    background-color: #ff007a;
    border-radius: 10px;
}
.aac {
    padding: 10px;
    background-color: #ff007a;
    border-radius: 10px;
}
.ipad {
}
.compra img {
    margin-left: 20%;
    max-width: 70%;
}
