* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: #131313;
  font-family: sans-serif; }

.item {
  min-width: 250px;
  min-height: 310px;
  border: 1px solid #777;
  border-radius: 10px;
  background-color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s; }
  .item .item-img {
    display: flex;
    justify-content: center; }
    .item .item-img img {
      max-width: 210px;
      margin-top: 10px; }
    .item .item-img .iphone13 {
      width: 210px;
      height: 188px; }
    .item .item-img .macbookimg {
      margin-top: 40px;
      width: 210px;
      height: 127px; }
    .item .item-img .ipad {
      max-height: 180px; }
  .item .item-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .item .item-info h2 {
      font-size: 17px;
      margin: 20px;
      color: #222;
      font-weight: 600;
      margin: 10px; }
    .item .item-info p {
      font-size: 20px;
      color: #222; }
  .item:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 10px #777; }

.novedades {
  height: 50vh;
  background-color: #383838;
  border-radius: 30px;
  margin-right: 7px;
  margin-left: 7px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  padding: 65px; }
  .novedades .novText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .novedades .novText a {
      text-decoration: none;
      background-color: #ff007a;
      padding: 10px 20px;
      color: #eeeeee;
      border-radius: 10px;
      font-family: jura, sans-serif;
      width: 100px;
      display: flex;
      justify-content: center;
      margin: 30px; }
      .novedades .novText a:hover {
        transform: scale(1.2);
        transition: 0.1s; }
    .novedades .novText p {
      color: #eeeeee;
      font-family: jura, sans-serif;
      letter-spacing: 9px;
      font-size: 30px;
      margin: 30px; }
      .novedades .novText p:hover {
        text-decoration: underline; }
  .novedades .novImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px; }
    .novedades .novImg img {
      width: 230px;
      height: auto; }

.navbar {
  padding: 20px;
  display: flex; }
  .navbar div a {
    margin-right: 20px; }
    .navbar div a img {
      margin: 20px; }
  .navbar div .buscador {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px; }
    .navbar div .buscador form input {
      height: 35px;
      width: 400px;
      font-size: 25px;
      background-color: #383838;
      border-radius: 50px;
      padding: 5px;
      border: none;
      color: #fff; }
      .navbar div .buscador form input::placeholder {
        color: #eeeeee;
        font-family: Jura, sans-serif; }
    .navbar div .buscador form button {
      margin-left: 10px;
      font-family: sans-serif;
      font-size: 10px;
      background-color: #ff007a;
      color: #fff;
      padding: 7px;
      border-radius: 10px;
      border: none; }
    .navbar div .buscador button {
      border: none;
      color: #fff; }
      .navbar div .buscador button span {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288%2C 8%2C 8%2C 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .navbar div .mas-opciones li a {
    font-family: sans-serif;
    text-decoration: none;
    color: #eee; }

@media (max-width: 992px) {
  .navbar .buscador {
    justify-content: flex-start; }
    .navbar .buscador form input {
      min-width: 200px;
      max-width: 200px; }
      .navbar .buscador form input::placeholder {
        font-size: 15px; } }

.footer {
  background-color: #000000;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px; }
  .footer a {
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif; }

.lorem {
  min-height: 20vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px; }

header {
  background-color: #131313;
  position: fixed;
  width: 100%;
  min-height: 20vh;
  top: 0;
  z-index: 1; }

main {
  margin-top: 20vh;
  background-color: #131313;
  width: 100%;
  box-sizing: border-box; }
  main .sectionName {
    color: #fff;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 25px;
    font-family: jura, sans-serif; }
  main .dispositivos {
    background-color: #383838;
    display: flex;
    justify-content: space-evenly;
    padding: 15px; }
    main .dispositivos .dispositivo {
      text-decoration: none;
      font-size: 30px;
      font-family: Jura;
      color: #eeeeee; }
      main .dispositivos .dispositivo:hover {
        text-decoration: underline; }
  main .sectionName {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0; }
  main .ofertas, main .nuevosIngresos, main .productosRelacionados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
  main .publicacion {
    background-color: #fff;
    min-height: 60vh;
    display: flex;
    justify-content: space-around; }
    main .publicacion .compra {
      display: flex; }
      main .publicacion .compra img {
        max-width: 500px;
        margin: auto; }
    main .publicacion .compra__info {
      display: grid;
      grid-template-columns: 6;
      grid-template-columns: 2;
      font-family: sans-serif; }
      main .publicacion .compra__info .compra__nombre {
        display: flex;
        align-items: center;
        justify-content: center; }
      main .publicacion .compra__info .compra__carrito {
        display: flex;
        margin: auto; }
        main .publicacion .compra__info .compra__carrito a {
          color: #eeeeee;
          padding: 15px;
          margin: 15px;
          background-color: #ff007a;
          border-radius: 15px;
          text-decoration: none;
          font-family: Jura; }
      main .publicacion .compra__info .compra__precio {
        display: flex;
        justify-content: center;
        align-items: center; }
        main .publicacion .compra__info .compra__precio p {
          font-size: 23px;
          text-align: center; }

@media (max-width: 1024px) {
  main .ofertas .item, main .nuevosIngresos .item, main .productosRelacionados .item {
    margin: 10px;
    min-width: 200px;
    height: 200px; }
    main .ofertas .item .item-img img, main .nuevosIngresos .item .item-img img, main .productosRelacionados .item .item-img img {
      width: 140px;
      height: auto;
      margin-top: 40px; }
    main .ofertas .item .item-img .macbookimg, main .nuevosIngresos .item .item-img .macbookimg, main .productosRelacionados .item .item-img .macbookimg {
      width: 140px;
      margin-top: 70px; }
    main .ofertas .item .item-img .ipad, main .nuevosIngresos .item .item-img .ipad, main .productosRelacionados .item .item-img .ipad {
      width: 140px;
      margin-top: 40px; } }

@media (max-width: 928px) {
  main .ofertas .item, main .nuevosIngresos .item, main .productosRelacionados .item {
    margin: 10px;
    min-width: 300px;
    height: 200px; }
    main .ofertas .item .item-img img, main .nuevosIngresos .item .item-img img, main .productosRelacionados .item .item-img img {
      width: 140px;
      height: auto; }
    main .ofertas .item .item-img .macbookimg, main .nuevosIngresos .item .item-img .macbookimg, main .productosRelacionados .item .item-img .macbookimg {
      width: 140px; }
    main .ofertas .item .item-img .ipad, main .nuevosIngresos .item .item-img .ipad, main .productosRelacionados .item .item-img .ipad {
      width: 140px; } }

@media (max-width: 768px) {
  main .publicacion {
    display: grid; }
    main .publicacion .compra img {
      width: 300px; } }

@media (max-width: 677px) {
  main .publicacion {
    display: grid; }
    main .publicacion .compra img {
      width: 250px; }
    main .publicacion .compra__info {
      font-size: smaller; }
      main .publicacion .compra__info .compra__nombre {
        font-size: smaller; }
      main .publicacion .compra__info .compra__precio {
        font-size: smaller; }
  main .ofertas .item, main .nuevosIngresos .item, main .productosRelacionados .item {
    margin: 10px;
    min-width: 210px;
    min-height: 100px;
    max-width: 140px; }
    main .ofertas .item .item-img img, main .nuevosIngresos .item .item-img img, main .productosRelacionados .item .item-img img {
      width: 100px;
      height: auto;
      margin-top: 10px; }
    main .ofertas .item .item-img .macbookimg, main .nuevosIngresos .item .item-img .macbookimg, main .productosRelacionados .item .item-img .macbookimg {
      width: 100px;
      margin-top: 10px; }
    main .ofertas .item .item-img .ipad, main .nuevosIngresos .item .item-img .ipad, main .productosRelacionados .item .item-img .ipad {
      width: 80px;
      margin-top: 10px; }
    main .ofertas .item .item-info h2, main .nuevosIngresos .item .item-info h2, main .productosRelacionados .item .item-info h2 {
      font-size: 15px; }
    main .ofertas .item .item-info p, main .nuevosIngresos .item .item-info p, main .productosRelacionados .item .item-info p {
      font-size: 15px; }
  main .dispositivos .dispositivo {
    font-size: smaller; }
  main .novedades {
    flex-direction: column;
    text-align: center; }
    main .novedades .novImg {
      order: 1; }
      main .novedades .novImg img {
        width: 100px; }
    main .novedades .novText {
      order: 2; }
      main .novedades .novText p {
        font-size: 15px; } }

@media (max-width: 570px) {
  main .ofertas .item, main .productosRelacionados .item, main .nuevosIngresos .item {
    max-width: 180px;
    min-width: 180px; } }

@media (max-width: 400px) {
  main .ofertas .item, main .productosRelacionados .item, main .nuevosIngresos .item {
    min-width: 130px;
    max-width: 130px; } }
