@media (max-width: $breakpoint-1) {
  main {
    .ofertas-conteiner, .NuevosIngresos-conteiner, .productosRelacionados-conteiner {
      .ofertas, .nuevosIngresos, .productosRelacionados {
        .item { 
          margin: 10px;
          min-width: 200px;
          height: 200px;

          .item-img {
            img {width: 140px;
              height: auto;
              margin-top: 40px;

            }
            .macbookimg {width: 140px;
              margin-top: 70px;
            }
            .ipad {width: 140px;
              margin-top: 40px;
            }
          }
        }
      }
    }
      

    }

}
@media (max-width: $breakpoint-2) {
    main {
      .ofertas-conteiner, .NuevosIngresos-conteiner, .productosRelacionados-conteiner{
        .ofertas, .nuevosIngresos, .productosRelacionados {
          .item { 
            margin: 10px;
            min-width: 300px;
            height: 200px;

            .item-img {
              img {width: 140px;
                height: auto;

              }
              .macbookimg {width: 140px;
              }
              .ipad {width: 140px;
              }
            }

          }
        }

      }}

  }
  
  @media (max-width: $breakpoint-3) {
    main {
      .publicacion {
        display: grid;
        .compra {
          img {
            width: 300px;
          }
          }
        }
      }
      .promociones {
        .promociones-contenedor {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

  
  @media (max-width: $breakpoint-4){
    main {
      .publicacion {
        display: grid;
        .compra {
          img {
            width: 250px;
          }}
          .compra__info {
            font-size: smaller;
            .compra__nombre {
              font-size: smaller;
            }
            .compra__precio {
              font-size: smaller;

            }
          }
          
        }
        .ofertas-conteiner, .NuevosIngresos-conteiner, .productosRelacionados-conteiner {
      .ofertas, .nuevosIngresos, .productosRelacionados {
        .item { 
          margin: 10px;
          min-width: 210px;
          min-height: 100px;
          max-width: 140px;

          .item-img {
            img {width: 100px;
              height: auto;
              margin-top: 10px;

            }
            .macbookimg {width: 100px;margin-top: 10px;
            }
            .ipad {width: 80px;margin-top: 10px;
            }
          }
          .item-info {
            h2 {
              font-size: 15px;
            }
            p {
              font-size: 15px;
            }
          }
        }
      }}

    
      .dispositivos {
        .dispositivo {
          font-size: smaller;
        }
      }
      .novedades{
        flex-direction: column;
        text-align: center;
        .novImg {
        margin: 0;
        padding: 0;
          img {
            width: 200px;
          }
          order: 1;
        }
        .novText {
        padding: 0;
        margin: 0;
          order: 2;
          p {
          font-size: 15px;
        }
      }
    }}
    footer {
      .descripcion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        p {
          border-right: none;
        &:nth-child(1) {
          grid-row: 2;
          grid-column: 1/2;
        }
        &:nth-child(2) {
          grid-row: 1;
          grid-column: 1/3;
        }
        &:nth-child(3) {
          grid-row: 2;
          grid-column: 2/3;
        }
        }
        
      }
    }
  }
  @media (max-width: $breakpoint-5) {
    header {
      .navbar {
        .buscador {
            justify-content: flex-start;
            form {
                input {
                    min-width: 190px;
                    max-width: 190px;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    }
    main {
      .promociones{
        background-size: contain;
        .promociones-contenedor { 
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          .promociones-item {
            &:nth-child(1) {
              translate: 10px;
              grid-column: 1 / 2;
              grid-row: 1;
            }
      
            &:nth-child(2) {
              translate: 10px;
              grid-column: 2 / 3;
              grid-row: 1;
            }
      
            &:nth-child(3) {
              translate: 10px;
              grid-column: 1 / 2;
              grid-row: 2;
            }
      
            &:nth-child(4) {
              translate: 10px;
              grid-column: 2 / 3;
              grid-row: 2;
            }
      
            &:nth-child(5) {
              grid-column: 1 / 4;
              grid-row: 3;
            }
          }
        }
        
      }
      .ofertas-conteiner, .NuevosIngresos-conteiner, .productosRelacionados-conteiner {
      .ofertas, .productosRelacionados, .nuevosIngresos {
        .item {
          max-width: 180px;
          min-width: 180px;

        }
          
      }
      }
    }}
  
@media (max-width: $breakpoint-6) {
  main {
    .promociones {
      .promociones-contenedor {
        display: flex;
        flex-direction: column;
        .promociones-item {
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
              translate: 0px;
          }
        }
      }
    }
    .ofertas-conteiner, .NuevosIngresos-conteiner, .productosRelacionados-conteiner {
        .ofertas, .productosRelacionados, .nuevosIngresos {
          .item {
            min-width: 130px;
            max-width: 130px;
            .item-info {
              h2, p {
                font-size: smaller;
              }
            }
      }
    }
  }}
  footer {
    .descripcion {
      flex-direction: column;
      p {
        border-right: none;
        border-bottom: #000 solid;
        padding: 20px;
      }
    }
  }
}