//*los mapas nos sirven para mapear valores en base a claves y valores*//
$colores: ( 
    color1: red,
    color2: green,
    color3: magenta,
);

$medidas: (
    sm: 16px,
    m: 24px,
    lg: 60px
)