
$primary-font: sans-serif;
$secondary-font: Jura;
$color-primary: #ffffff;
$color-secondary: #000000;

$breakpoint-1: 1024px;
$breakpoint-2: 928px;
$breakpoint-3: 768px;
$breakpoint-4: 677px;
$breakpoint-5: 570px;
$breakpoint-6: 400px;